.menu a {
    text-decoration: none;
    margin: 20px;
    font-size: larger;
}

.menu a:hover {
    background-color: white;
    color: black;
    padding: 20px;
}

.menu {
    background-color: dimgrey;
}